<div class="wrapper">

  <div class="sidebar" data-color='red' data-image="">
        <!-- sidebar -->
      <app-sidebar></app-sidebar>
        <!-- sidebar -->
      <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
        <!-- navbar -->
      <app-navbar></app-navbar>
        <!-- navbar -->


<div class="main-content">

    <div class="container-fluid">
        <!-- row -->
        <div class="row">
           <!-- <app-card></app-card> -->
        </div>
         <!-- row -->
    <div class="row">

        <!-- card -->
        <div class="col-lg-12 col-md-12">
            <div class="card" >
              <!-- <app-table></app-table> -->
            </div>
        </div>
        <!-- card -->
    </div>
    </div>
</div>
<!-- footer -->
<app-footer></app-footer>
<!-- footer -->
</div>
</div>
