.magento {
	background: #fff;
	overflow: hidden;
}

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@media (min-width: 1480px){
.container, .col2-left-layout, .account-login, .newsletter-banner-container {
	width: 1440px;
}}

.container, .col2-left-layout, .account-login, .newsletter-banner-container {
	margin: 0 auto;
	max-width: 1440px;
	/*width: 1200px;*/
}

#contact .content {
	text-align: center;
	margin: 0 auto;
	padding: 130px 10px;
	width: 75%;
}
#contact h1 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6, strong, b, th {
	/*font-weight: normal;*/
}

#contact p {
	font-size: 18px;
	line-height: 1.6em;
	margin-bottom: 1.6em;
}

p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

#contact .button-chat {
	background: transparent;
	border: 1px dotted #111;
	color: #111;
	margin: 30px 0 60px 0;
}

#contact .button {
	font-size: 18px;
	padding: 1em 4em;
}
#contact a {
	color: #111;
}

#contact form {
	overflow: hidden;
	padding-top: 35px;
}

form, input, textarea, select, button {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	letter-spacing: 0.04em;
	-webkit-font-smoothing: antialiased;
}
#contact .name {
	float: left;
	margin-bottom: 50px;
	padding-right: 10px;
	width: 50%;
	box-sizing: border-box;
}

#contact label {
	display: block;
	font-size: 18px;
	padding-bottom: 12px;
	text-align: left;
}

#contact input[type=text], #contact input[type=email], #contact textarea {
	border: 1px solid #111;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
	transition: border-color 400ms ease;
}

form, input, textarea, select, button {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	letter-spacing: 0.04em;
	-webkit-font-smoothing: antialiased;
}

#contact .message {
	margin-bottom: 50px;
}

#contact .email {
	float: left;
	margin-bottom: 50px;
	padding-left: 10px;
	width: 50%;
	box-sizing: border-box;
}

#contact label {
	display: block;
	font-size: 18px;
	padding-bottom: 12px;
	text-align: left;
}

#contact input[type=text], #contact input[type=email], #contact textarea {
	border: 1px solid #111;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
	transition: border-color 400ms ease;
}


#contact .button-send {
	font-size: 18px;
	padding: 1em 4em;
}

.button-send {
	background: #111;
	border: 0;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	line-height: 1em;
	margin: 0;
	padding: 14px 24px;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}
