
/* You can add global styles to this file, and also import other style files */
.card [data-background-color="red"]{
  background: #099d6e;
}
.blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
    background: linear-gradient(40deg, #45cafc, #4285f4);
  }
  .card.card-cascade .view.gradient-card-header {
    padding: 1rem 1rem;
    text-align: center;
  }

  .card.card-cascade h3,
  .card.card-cascade h4,
  {
  margin-bottom: 0px;
  }
  .blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
    background: linear-gradient(40deg, #45cafc, #4285f4);
  }
  .sidebar-fixed{
    height:100vh;
    width:270px;
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    z-index:1050;
    background-color:#fff;
    padding:0 1.5rem 1.5rem
  }
  .sidebar-fixed .list-group .active{
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-border-radius:5px;border-radius:5px;

  }
  .sidebar-fixed .logo-wrapper{
    padding:2.5rem;
  }
  .sidebar-fixed .logo-wrapper img{
    max-height:50px;
  }
  .content-card{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     font-family: Arial, Helvetica, sans-serif;
  }
  span{
    font-weight: bold;
  }
  h2{
    font-size: 15px;
    font-weight: normal;
  }
  i{
      cursor: pointer;
  }
  .content-card{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     font-family: Arial, Helvetica, sans-serif;
  }
  span{
    font-weight: bold;
  }
  h2{
    font-size: 15px;
    font-weight: normal;
  }
  p{
    font-size: 15px;
    font-weight: normal;
    margin-left: 10px;
  }
  .content-card .panel {
    position: relative;
    margin: 5px 5px;
    border: 4px solid black;
    width: 32%;
    float: left;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  .panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  }

  .panel-body{
    padding: 0;
    float: right;

    width: 69.9%;
  }

  .title-name{
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
   margin-top: 20px;
   margin-left: 10px;
   font-weight: 100;
   font-size: 18px;

  }

  .decriptions-name {
 /* font-family: "Comic Sans MS", cursive, sans-serif; */
    margin-top: -5px;
    margin-left: 10px;
  }




  .panel-body h2{
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
  .panel-body-right{
  float: left;
  width: 30%;
  }

  .panel-body-right img{
  margin: left;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 10px;
  }
  @media (min-width:1200px){
    .navbar,.page-footer,main{
        padding-left:270px;

    }
  }
  @media (max-width:1199.98px){
    .sidebar-fixed{
        display:none;
        float: left;

        height: 3000px;
        position: absolute;
        z-index: 99999;
        left: 0;
        top: 0;
    }
    .content-card .panel{
        width: 100%;
        float: none;
    }
  }
