.magento {
	background: #fff;
	overflow: hidden;
	margin-top: 120px;
	margin-bottom: 100px;
}

.account-login {
	color: #666;
	font-size: 13px;
	padding-bottom: 60px;
	overflow: hidden;
}

@media (max-width:1240px){}
.container, .col2-left-layout, .account-login, .newsletter-banner-container {
	width: 960px;
}

.container, .col2-left-layout, .account-login, .newsletter-banner-container {
	margin: 0 auto;
	max-width: 1440px;
	width: 1200px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.page-title h1 {
	border-bottom: 1px solid #f1f1f1;
	color: #8d8d8d;
	font-size: 16px;
	font-weight: bold;
	margin: 40px 10px;
	padding: 0 0 10px 0;
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, strong, b, th {
	font-weight: normal;
}

form, input, textarea, select, button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 0.04em;
	-webkit-font-smoothing: antialiased;
}

form .fieldset {
	font-size: 13px;
}

.col2-set {
	overflow: hidden;
}

@media (max-width:1240px)
.col2-set .col-1, .col2-set .col-2 {
	width: 460px;
}

.col2-set .col-1, .col2-set .col-2 {
	float: left;
	margin: 0 10px;
	width: 580px;
}

form .fieldset h2 {
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 30px;
	margin-top: 10px;
}

.account-login p {
	line-height: 1.4em;
	margin-bottom: 20px;
	width: 400px;
}

.account-login .form-list {
	width: 340px;
}

ol, ul {
	list-style: none;
}

form .form-list li {
	margin-bottom: 10px;
}

form .form-list li label {
	display: block;
	margin-bottom: 5px;
}

.account-login .form-list li em {
	display: none;
}

.account-login .form-list input[type=text], .account-login .form-list input[type=tel], .account-login .form-list input[type=email], .account-login .form-list input[type=password] {
	width: 330px;
}

form .form-list input[type=text], form .form-list input[type=tel], form .form-list input[type=email], form .form-list input[type=password] {
	background: #e5e5e5;
	border: 0;
	color: #111;
	margin: 0;
	padding: 5px;
}

form, input, textarea, select, button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	letter-spacing: 0.04em;
	-webkit-font-smoothing: antialiased;
}

form .form-list li label {
	display: block;
	margin-bottom: 5px;
}

form .form-list .control {
	overflow: hidden;
}

form .form-list .control .input-box {
	float: left;
	margin-right: 6px;
}

form .form-list .control label {
	display: inline;
}

.account-login .form-list {
	width: 340px;
}

.account-login .note {
	float: right;
	line-height: 46px;
	padding-top: 20px;
}

.account-login a {
	color: #666;
	text-decoration: none;
}

.account-login .buttons-set {
	padding-top: 20px;
}

.buttons-set {
	overflow: hidden;
}

/*.buttons-set button, .buttons-set .button {
	background: #111;
	border: 0;
	color: #fff;
	display: block;
	float: left;
	font-weight: bold;
	line-height: 1em;
	margin: 0;
	padding: 14px 24px;
	text-decoration: none;
}*/
button {
	cursor: pointer;
	outline: none;
	border-radius: 0px;
}

.head-grids {
	width: 1200px !important;
	padding-left: 0;
	padding-right: 0;
	margin-right: auto;
	margin-left: auto;
}

/*mobile*/
@media (max-width:980px) and (min-width:0), only screen and (max-device-width:1024px) and (orientation:landscape) {
	.account-login {
		width: 100%;
	}

}

@media (max-width:980px) and (min-width:0), only screen and (max-device-width:1024px) and (orientation:landscape) {
	.container, .col2-left-layout, .account-login, .newsletter-banner-container {
		min-width: 320px;
	}

	.h1 {
		text-align: center;
	}

	.col-2 new-users legend {
		margin-top: 30px;
	}
}

@media (max-width:980px) and (min-width:0), only screen and (max-device-width:1024px) and (orientation:landscape) {
	.account-login form {
		margin: 0 10px;
	}
}

@media (max-width:980px) and (min-width:0), only screen and (max-device-width:1024px) and (orientation:landscape) {
	.col2-set .col-1, .col2-set .col-2 {
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
		box-sizing: border-box;
	}
}

@media (max-width:980px) and (min-width:0), only screen and (max-device-width:1024px) and (orientation:landscape) {
	.col2-set .col-1, .col2-set .col-2 {
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
		box-sizing: border-box;
	}
}

@media (max-width:980px) and (min-width:0), only screen and (max-device-width:1024px) and (orientation:landscape) {
	.account-login p {
		width: 100%;
	}

	.account-login .form-list {
		width: 110%;
	}
	.note {
		float: left;
		line-height: 46px;
		padding-top: 20px;
		font-size: 13px;
		padding-right: 50px;
	}
	.button {
		min-width: 70px;
	}
}
