<main-header></main-header>
<div id="barba-wrapper">
  <div class="barba-container marketing_plan page" data-namespace="page_servizio" data-page-color="">

    <div class="pageVisual " *ngFor="let course of course">
      <div class="container no-padding">
        <div class="col-sm-7 col-md-6 no-padding-left pageVisual__subWrapper">
          <!-- <h1 class="pageVisual__sub homeSection__sub" id="typed">
            <span class="sologan">
              {{stringSologan1}}
            </span>
            <br />
            <span class="sologan">
              {{stringSologan2}}
            </span>
          </h1> -->
        </div>
        <div class="col-sm-5 col-md-6 pageVisual__imageWrapper no-padding-right">
          <img class="pageVisual__image lazy center-block" src="{{course.image}}" style="width: 150%">
        </div>
      </div>
    </div>

    <div class="lifestyleWrapper">
      <div class="container" *ngFor="let course of course">
        <div class="col-md-8 center-block">
          <div class="lifestyleWrapper__box">
            <strong class="homeSection__title lifestyleWrapper__title text-center">{{course.name}}</strong>
            <div class="homeSection__text lifestyleWrapper__txt text-center">
              <div class="page" title="Page 11">
                <div class="section">
                  <div class="layoutArea">
                    <div class="column" [innerHtml]="course.details">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <ul class="lifestyleWrapper__list clearfix">
              <li class="lifestyleWrapper__img no-padding">
                <img class="lazy" alt="" src="assets/img/focus/enviroment_01.jpg">
              </li>
              <li class="lifestyleWrapper__img no-padding">
                <img class="lazy" alt="" src="assets/img/focus/enviroment_05.jpg">
              </li>
              <li class="lifestyleWrapper__img no-padding">
                <img class="lazy" alt="" src="assets/img/focus/enviroment_03.jpg">
              </li>
              <li class="lifestyleWrapper__img no-padding">
                <img class="lazy" alt="" src="assets/img/focus/enviroment_04.jpg">
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <main-footer></main-footer>