
input[type=text], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin-left: 50px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container-content {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
}
.column > input
{
    display: none;
}
/* Style the images inside the grid */
.column img {


}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.closebtn-column{
  position: absolute;
  margin-left: 5px;
  cursor: pointer;
  font-size: 30px;
  color: #ffffff;
}
/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

.container-image {
  position: relative;
  display: none;
}
/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #4285f4);
}
.card.card-cascade .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card.card-cascade h3,
.card.card-cascade h4,
{
margin-bottom: 0px;
}
.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #4285f4);
}
.sidebar-fixed{
  height:100vh;
  width:270px;
  -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  z-index:1050;
  background-color:#fff;
  padding:0 1.5rem 1.5rem
}
.sidebar-fixed .list-group .active{
  -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -webkit-border-radius:5px;border-radius:5px;

}
.sidebar-fixed .logo-wrapper{
  padding:2.5rem;
}
.sidebar-fixed .logo-wrapper img{
  max-height:50px;
}
.content-card{
  width: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
}
span{
  font-weight: bold;
}
h2{
  font-size: 15px;
  font-weight: normal;
}
i{
    cursor: pointer;
}
.content-card{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
}
span{
  font-weight: bold;
}
h2{
  font-size: 15px;
  font-weight: normal;
}
.content-card .panel {
  position: relative;
  margin: 5px 5px;
  border: 4px solid black;
  width: 32%;
  float: left;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
padding: 10px 15px;
margin: -15px -15px 15px;
font-size: 17.5px;
font-weight: 500;
background-color: #f5f5f5;
border-bottom: 1px solid #dddddd;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
}

.panel-body{
  padding: 0;
  float: right;

  width: 69.9%;
}

.title-name{
/* //  font-family: "Comic Sans MS", cursive, sans-serif; */
 margin-top: 20px;
 margin-left: 10px;
 font-weight: 100;
 font-size: 18px;

}

.decriptions-name {
  /* // font-family: "Comic Sans MS", cursive, sans-serif; */
  margin-top: -5px;
  margin-left: 10px;
}




.panel-body h2{
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.panel-body-right{
/* // float: left; */
width: 100%;
min-height: 70px;
}

.panel-body-right img{
margin: left;
width: 283px;
height: 70px;
margin-top: 10px;
}
@media (min-width:1200px){
  .navbar,.page-footer,main{
      padding-left:270px;

  }
}
@media (max-width:1199.98px){
  .sidebar-fixed{
      display:none;
      float: left;

      height: 3000px;
      position: absolute;
      z-index: 99999;
      left: 0;
      top: 0;
  }
  .content-card .panel{
      width: 100%;
      float: none;
  }
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  input[type=submit],input{
    width: 100%;
    margin-top: 0;
}
label{
  margin-left: 15px;
}
}
@media screen and (max-width: 768px) {
  .col-25, .col-75, input[type=submit],input[type=text],input[type=date],select {
      width: 100%;
      margin-top: 0;
  }
  input[type=submit]{
    margin-top:10px;
  }
  .col-25 label{
    margin-left: 5px;
  }
}
.card [data-background-color="red"]{
  background: #099d6e;
}
.wrapper{
  height: auto;
}
input[type=text],input[type=date],input[type=file], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
