 <!-- card -->
 <div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card card-stats" >
      <!-- header card -->
      <div class="card-header" data-background-color="orange">
          <i class="material-icons">content_copy</i>
      </div>
      <!-- header card -->
      <!-- card-content -->
      <div class="card-content">
          <p class="category">Lớp</p>
          <h3 class="title">{{countCourse}}</h3>
      </div>
       <!-- card-content -->
       <!-- footer-card -->
      <div class="card-footer"  >
          <div class="stats">
              <i class="material-icons">date_range</i> Mới cật nhập 24 giờ trước
          </div>
      </div>
      <!-- footer-card -->
  </div>
</div>
<!-- card -->
<!-- card -->
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card card-stats" >
      <!-- card-header -->
      <div class="card-header" data-background-color="green">
          <i class="material-icons">store</i>
      </div>
      <!-- card-header -->
      <!-- card-content -->
      <div class="card-content">
          <p class="category">Giáo Viên</p>
          <h3 class="title">{{countTrainer}}</h3>
      </div>
      <!-- card-content -->
      <!-- card-footer -->
      <div class="card-footer">
          <div class="stats">
              <i class="material-icons">date_range</i> Mới cật nhập 24 giờ trước
          </div>
      </div>
      <!-- card-footer -->
  </div>
</div>
<!-- card -->
<!-- card -->
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card card-stats" >
      <!-- card-header -->
      <div class="card-header" data-background-color="red">
          <i class="fa fa-commenting-o"></i>
      </div>
      <!-- card-header -->
      <!-- card-content -->
      <div class="card-content">
          <p class="category">Tin Tức</p>
          <h3 class="title">{{coutNews}}</h3>
      </div>
       <!-- card-content -->
       <!-- footer-card -->
      <div class="card-footer">
          <div class="stats">
              <i class="material-icons">local_offer</i> Chỉnh Sửa
          </div>
      </div>
       <!-- footer-card -->
  </div>
</div>
<!-- card -->
<!-- card -->
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card card-stats" >
      <!-- card-header -->
      <div class="card-header" data-background-color="blue">
          <i class="fa fa-user"></i>
      </div>
      <!-- card-header -->
      <!--  card-content -->
      <div class="card-content">
          <p class="category" style=" width: 90px;
          overflow: hidden;
          text-overflow: ellipsis;">vanphudhsp2015@gmail.com</p>
          <h3 class="title">admin</h3>
      </div>
      <!--  card-content -->
      <!-- card-footer -->
      <div class="card-footer">
          <div class="stats">
              <i class="material-icons">update</i> Cật nhập
          </div>
      </div>
      <!-- card-footer -->
  </div>
</div>
<!-- card -->
