
   <footer class="footer">
   <div class="container no-padding">
      <div class="col-md-5 no-padding">
         <div class="footer__logo col-sm-3 col-md-12 no-padding">
            <img class="logo-footer" src="assets/img/KAI.svg">
            </div>
            <div class="footer__dati col-sm-9 col-md-12 no-padding">
               <span>
                  <p>123 Le Duan St, Hai Chau<br />
                     550000 Da Nang (Viet Nam)
                  </p>
               </span>
               <div class="footer__phone"><i class="footer__icon phone_icon"></i><a href="tel:+840497386284">(+84) 049 738 6284</a></div>
               <div class="footer__mail"><i class="footer__icon email_icon"></i><a href="mailto:info@hanah.sport">info@hanah.sport</a></div>
               <small>ISO <br/>Copyright&copy; 2018 Hanah Sport</small>
            </div>
         </div>
         <div class="col-md-7 no-padding">
            <div class="hidden-xs footer__col footer__col--cons col-sm-3 no-padding">
               <strong class="footer__title"><a href="/">HOME</a></strong>
               <ul>
                  <li><a href="/">Body rental</a></li>
                  <li><a href="/">Training</a></li>
                  <li><a href="/">Audit</a></li>
                  <li><a href="/">Business plan</a></li>
               </ul>
            </div>
            <div class="hidden-xs footer__col footer__col--mkgt col-sm-4 no-padding">
               <strong class="footer__title"><a href="/">PROGRAM</a></strong>
               <ul>
                  <li><a href="/">Marketing plan</a></li>
                  <li><a href="/">SEO</a></li>
                  <li><a href="/">SEM</a></li>
                  <li><a href="/">Social advertising</a></li>
                  <li><a href="/">CRO</a></li>
                  <li><a href="/">Analytics</a></li>
               </ul>
            </div>
            <div class="hidden-xs footer__col footer__col--people col-sm-3 no-padding">
               <strong class="footer__title"><a href="/">FACILITIES</a></strong>
               <ul>
                  <li><a href="/">Team</a></li>
                  <li><a href="/">Friends</a></li>
                  <li><a href="/">Work with us</a></li>
                  <li><a href="/">Lifestyle</a></li>
               </ul>
            </div>
            <div class="hidden-xs footer__col footer__col--nav col-sm-2 no-padding">
               <nav id="main_nav" class="menu-footer_nav-container">
                  <ul id="menu-footer_nav" class="nav navbar-nav">
                     <li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121 menu-page-13"><a href="//expertise/">GROUPS</a></li>
                     <li id="menu-item-120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120 menu-page-17"><a href="//contacts/">Contact us</a></li>
                     <li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135 menu-page-27"><a href="//where/">Where we are</a></li>
                     <li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122 menu-page-31"><a href="//manifesto/">Manifesto</a></li>
                  </ul>
               </nav>
            </div>
            <div class="clearfix"></div>
            <div class="privacy_menu_link"><a href="#" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy & Cookies</a></div>
         </div>
      </div>
   </footer>